<div class="mt-2">
  <h4>Form details</h4>
  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Name: <span class="font-weight-bold">{{ form.name }}</span></li>
      <li class="list-group-item">Surname: <span class="font-weight-bold">{{ form.surname }}</span></li>
      <li class="list-group-item">Patronymic: <span class="font-weight-bold">{{ form.patronymic }}</span></li>
      <li class="list-group-item">Phone: <span class="font-weight-bold">{{ form.phone }}</span></li>
      <li class="list-group-item">Job: <span class="font-weight-bold">{{ form.job }}</span></li>
      <li class="list-group-item">Gender: <span class="font-weight-bold">{{ form.selectType }}</span></li>
      <li class="list-group-item">Size: <span class="font-weight-bold">{{ form.size }}</span></li>
      <li class="list-group-item">Comment: <span class="font-weight-bold">{{ form.comment }}</span></li>
      <li class="list-group-item">Skill: <span class="font-weight-bold">{{ form.skill }}</span></li>
    </ul>
  </div>
</div>
