<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">Form</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/forms" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Forms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/forms/add-form" routerLinkActive="active">New form</a>
      </li>
    </ul>
  </div>
</nav>
