<div class="row mt-2">
  <div class="col-6">
    <h4>Forms:</h4>
    <div class="card" *ngFor="let form of forms; let i = index">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a [routerLink]="['/forms', form.id]">{{ form.name }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-6">
    <router-outlet></router-outlet>
  </div>
</div>
