<div class="row mt-2 ml-3 mb-5">
  <form [formGroup]="mainForm" (ngSubmit)="saveForm()">
    <h3>Registration:</h3>

    <div class="form-group">
      <label for="name">Name:</label>
      <input
        type="text"
        formControlName="name"
        id="name"
        class="form-control"
      />
      <small
        *ngIf="fieldHasError('name', 'required')"
        class="form-text invalid-form-text"
      >Enter name</small>
    </div>

    <div class="form-group">
      <label for="surname">Surname:</label>
      <input
        type="text"
        formControlName="surname"
        id="surname"
        class="form-control"
      />
      <small
        *ngIf="fieldHasError('surname', 'required')"
        class="form-text invalid-form-text"
      >Enter surname</small>
    </div>

    <div class="form-group">
      <label for="patronymic">Patronymic:</label>
      <input
        type="text"
        formControlName="patronymic"
        id="patronymic"
        class="form-control"
      />
      <small
        *ngIf="fieldHasError('patronymic', 'required')"
        class="form-text invalid-form-text"
      >Enter patronymic</small>
    </div>

    <div class="form-group">
      <label for="phone">Phone number:</label>
      <input
        type="text"
        formControlName="phone"
        id="phone"
        class="form-control"
      />
      <small
        *ngIf="fieldHasError('phone', 'required')"
        class="form-text invalid-form-text"
      >Enter phone number</small>
      <small
        *ngIf="fieldHasError('phone', 'phone')"
        class="form-text invalid-form-text"
      >Phone format: 0555111333</small>
    </div>

    <div class="form-group">
      <label for="job">Place of work/study</label>
      <input
        type="text"
        formControlName="job"
        id="job"
        class="form-control"
      />
      <small
        *ngIf="fieldHasError('job', 'required')"
        class="form-text invalid-form-text">
        Specify the place of study / work</small>
    </div>

    <div class="form-group">
      <span class="d-block mb-2">T-shirt option:</span>
      <div>
        <label for="male">Mail</label>
        <input
          type="radio"
          formControlName="selectType"
          id="male"
          class="mr-3 ml-2"
          value="male"
        />
        <label for="female">Female</label>
        <input
          type="radio"
          formControlName="selectType"
          id="female"
          class="ml-2"
          value="female"
        />
        <small
          *ngIf="fieldHasError('selectType', 'required')"
          class="form-text invalid-form-text"
        >Choose one of the options</small>
      </div>
    </div>

    <div class="form-group">
      <label for="size">T-shirt size:</label>
      <select
        formControlName="size"
        id="size"
        class="form-control"
      >
        <option value="">Select a size</option>
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L">L</option>
        <option value="XL">XL</option>
      </select>
      <small
        *ngIf="fieldHasError('size', 'required')"
        class="form-text invalid-form-text"
      >Select the size you want</small>
    </div>

    <div class="form-group">
      <label for="comment">Comment:</label>
      <textarea
        id="comment"
        formControlName="comment"
        name="comment"
        class="form-control"
      ></textarea>
      <small
        *ngIf="fieldHasError('comment', 'required')"
        class="form-text invalid-form-text"
      >Write a comment</small>
    </div>

    <div class="form-group" formArrayName="skills">
      <label>Skills:</label>
      <button type="button" class="btn btn-outline-warning ml-5 mb-3" (click)="addSkill()">Add skill</button>
      <div class="form-inline" *ngFor="let skillControl of getSkillControls(); let i = index">
        <div [formGroupName]="i">
          <select
            class="form-control"
            formControlName="skill"
          >
            <option value="">Select skill</option>
            <option value="javaScript">JavaScript</option>
            <option value="react">React</option>
            <option value="angular">Angular</option>
            <option value="vue">Vue</option>
          </select>
          <select
            class="form-control"
            formControlName="level"
          >
            <option value="">Level of skill</option>
            <option value="beginner">Beginner</option>
            <option value="intermediate">Intermediate</option>
            <option value="advanced">Advanced</option>
            <option value="expert">Expert</option>
          </select>
        </div>
      </div>
    </div>

    <button
      class="btn btn-primary"
    >Save
    </button>
  </form>
</div>
